<section id="help"><footer>
	<div class="company-info">

		<div class="company-info__logo">
			<img src="../development/assets/svg/logo.svg" alt="">
		</div>

		<div class="company-info__about">
			<p>
				<strong>LaslesVPN</strong> is a private virtual network that<br> has unique features and has high security.
			</p>
		</div>

		<div class="company-info__social-media">
			<a href="#"><img class="social-logos" src="../development/assets/svg/facebook-logo.svg" alt="facebook"></a>
			<a href="#"><img class="social-logos" src="../development/assets/svg/twitter-logo.svg" alt="twitter"></a>
			<a href="#"><img class="social-logos" src="../development/assets/svg/instagram-logo.svg" alt="instagram"></i></a>
		</div>

		<div class="company-info__copyright">
			<p>@2020Lasles<strong>VPN</strong></p>
		</div>
	</div>

	<div class="footer-section">
			<div class="product-related-links">
				<h3>Product</h3>
				<a class="links_" href="">Download</a>
				<a class="links_" href="">Pricing</a>
				<a class="links_" href="">Locations</a>
				<a class="links_" href="">Server</a>
				<a class="links_" href="">Countries</a>
				<a class="links_" href="">Blog</a>
			</div>
			<div class=" product-related-links">
				<h3>Engage</h3>	
				<a class="links_" href="">LaslesVPN?</a>
				<a class="links_" href="">FAQ</a>
				<a class="links_" href="">Tutorials</a>
				<a class="links_" href="">About us</a>
				<a class="links_" href="">Privacy Policy</a>
				<a class="links_" href="">Terms of Services</a>
			</div>
			<div class="product-related-links">
				<h3>Earn Money</h3>
				<a class="links_" href="">Affiliate</a>
				<a class="links_" href="">Become Partner</a>
			</div>	
	</div>	
</footer>
</section>
