<nav>
	<div class="logo">
	<img src="../development/assets/images/logo.svg" alt="logo">
	
	</div>
	<div class="nav-menu">
			<a href="#about">About</a>
			<a href="#features">Features</a>
			<a href="#pricing">Pricing</a>
			<a href="#testimonials">Testimonials</a>
			<a href="#help">Help</a>
	</div>
	<div class="sign-in">
			<button class="button1" href="#">Sign In</button>
			<button class="button2" href="#">Sign Up</button>
		</div>
	</nav>
	