
	.footer-section{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.product-related-links{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 8rem ;
		line-height: 3em;
		.links_{
			text-decoration: none;
			color: black;
			opacity: 0.6;
		}
	}
