<section id="features"><div class="box">
	<div class="imgbox">
		<img src="../development/assets/svg/3.svg" alt=""class="card-img" />
	</div>
  <div class="main-text">
	<div class="cd">
	  <h2>We Provide Many<br>
	   Features You Can Use</h2>
	</div>
	<div class="pcd">
	  <p>You can explore the features that we provide with fun and<br>
	   have their own functions each feature.</p>
	</div>
	  <div class="card-text">
		  <ul>
		    <li>Powerfull online protection.</li>
		    <li>Internet without borders.</li>
		    <li>Supercharged VPN</li>
		    <li>No specific time limits.</li>
	    </ul>
		</div>
  </div>
</div>


</section>
