<section id="about"><div class = "container">
	<div class="left-side">
		<div class="header-1"> <h1>Want anything to be<br> easy with <b> LaslesVPN</b>.</h1></div>
		<div class="paragraph-1"> <p>Provide a network for all your needs with ease and fun using LaslesVPN<br> discover interesting features from us.</p></div>
		<button class="button3" href="#">Get Starting</button>
	</div>

	<div class="right-side">
		<img src="../development/assets/svg/ahmed.svg" alt="">
	</div>
</div>
</section>
