<div class="info-container">
	<div class="info-card">
	<img src="../development/assets/svg/icon-user.svg" alt="">
	<div class="user-count">
	<p class="number">+90</p>
	<p class="users">Users</p>
	</div>
</div>
	<div class="info-card">
	<img src="../development/assets/svg/icon-location.svg" alt="">
	<div class="user-count">
	<p class="number">+30</p>
	<p class="users">Servers</p>
	</div>
</div>

	<div class="info-card">
	<img src="../development/assets/svg/icon-server.svg" alt="">
	<div class="user-count">
	<p class="number">+50</p>
	<p class="users">Locations</p>
			</div>
	</div>
</div>
