
<div class="sponsores">
	<!-- <article class="sponsores__header"> -->
		<h2 class="sponsores__title">Huge Global Network <br> Of Fast Vpn</h2>
		<p class="sponsores__description">see <span>LaslesVpn</span> Everywhere to make it easier for you when you move <br> locations.</p>
	<!-- </article> -->

		<img class="locations" src="../development/assets/svg/locations.svg" alt="world map image" width="70%" height="200px">
	
	<div class="sponsores-logo">
		
			<img class = "logos" src="../development/assets/svg/netflix.svg"  alt="netflix logo" width="100px" height="100px">
			<img class = "logos" src="../development/assets/svg/reddit.svg" alt="reddit logo" width="100px" height="100px">
			<img class = "logos" src="../development/assets/svg/amazon.svg" alt="amazon logo" width="100" height="100px">
			<img class = "logos" src="../development/assets/svg/discord.svg" alt="discord logo" width="100px" height="100px">
			<img class = "logos" src="../development/assets/svg/spotify.svg" alt="spotify logo" width="100px" height="100px">
		
	</div>
</div>
