<section>
<div class="container">
	<div class="subscribe-card">
		<div class="subscribe-card__msg">
			<h1>Subscribe Now for Get Special Features!</h1>
			<h6>Let's subscribe with us and find the fun.</h6>
		</div>
		<div class="subscribe-card__btn">
			<input type="submit" value="Subscribe Now">
		</div>
	</div>
</div>
</section>
