<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homework</title>
	<link rel="stylesheet" href="./assets/scss/main.scss">
	<script src="https://kit.fontawesome.com/6da2d512ce.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- {% include './pages/home/home.njk' %} -->

<!-- Sifaa -->
{% include './shared/header.njk' %}
{% include './pages/home/get-started.njk' %}
{% include './pages/home/info-cards.njk' %}

<!-- Muhammed -->
{% include './pages/home/features.njk' %}
{% include './pages/home/pricing.njk' %}
<!-- Abdurrahman  -->
{% include './pages/home/sponsores.njk' %}
{% include './pages/home/customer-review.njk' %}
<!-- bahaddin  -->
{% include './pages/home/subscribe.njk' %}

{% include './shared/footer.njk' %}
</body>
</html>
